footer {
    background-color: black;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content:initial;
    font-size: 25px;
    color: blue;
    padding-left:30px;
    margin-top: 50px;
  }

  footer span {
    color: red;
    margin-left: 5px;
  }