header {
    background-color: white;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content:left;
}

header img {
    width: 10%;
    height: 100%;
}

header span {
    font-size: 40px;
    color: black;
    font-weight: 300;
}